[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/alexdevteam/glad
[submodule "ext/imnodes"]
	path = ext/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "ext/ImGuiColorTextEdit"]
	path = ext/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/boostorg/json
[submodule "ext/implot"]
	path = ext/implot
	url = https://github.com/epezent/implot
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
